extends layout

block content

	h2 Status set
	div
		form(action='/',method='post')
			label(for="status") Status: 
			input#status(name="status")
			input(type="hidden" name="eventType" value="status")
			input(type="submit",value="Set status")

	h2 Check in
	div
		form(action='/',method='post')
			label(for="status") Status: 
			input#status(name="status")
			label(for="place") Place: 
			input#place(name="place")
			input(type="hidden" name="eventType" value="checkIn")
			input(type="submit",value="Check in")

	h1 Events
	div
		each ev in events
			div
				p 
				| User: 
				= ev.username
				p
				= ev.payload.status